/* ==========================================================================
   Menu
   ========================================================================== */

#splashMenu {
    position: fixed !important;
    right: 6%;
    line-height: 4vw;
    top: 33%;
    font-size: 2.5vw;
    z-index: 999;
    text-shadow: 6px 6px 8px #000000;
}

#splashMenu ul, a {
    list-style: none;
    text-decoration: none;
    font-family: BebasNeue;
    color: #D11E36;
    
}

#splashMenu ul, a:hover {color: #BA2929;}

#topMenu {
    position: fixed !important;
    width: 100%;
    line-height: 0vw;
    font-size: 1.8vw;
    z-index: 999;
    background-color: #000000;
    text-align: center;
    margin: 0;
    padding: 0;
    word-spacing: 3vw;
    opacity: 0;
}

#topMenu li {display: inline-block;}

#topMenu li:nth-child(1) a {
    color: white;
    font-family: PoolParty;
}

#mobileMenu {
    position: fixed;
    top: 27%;
    z-index: 999;
    width: 100%;
    text-align: center;
}

#mobileMenu h2 {
    font-size: 12.5vw;
    font-family: PoolParty;
    letter-spacing: 0.6vw;
    text-shadow: 6px 6px 8px #000000;
    color: white;
}

#mobileMenu li {
    font-size: 13vw;
    list-style: none;
    line-height: 20vw;
    text-shadow: 6px 6px 8px #000000;
}

/* ==========================================================================
   Splash Page
   ========================================================================== */

.splashVideo video {
    position: absolute;
    width: 100%;
}

.splashSlide {
    width: 100%;
    height: auto;
    overflow: hidden;
}

.welcomeTitle {
    position: absolute;
    top: 35%;
    left: 5%;
    color: white;
    font-size: 4vw;
    font-family: PoolParty;
    letter-spacing: 0.07vw;
    text-shadow: 6px 6px 8px #000000;
    z-index: 999;
}

.arrow {
    position: absolute;
    top: 90%;
    left: 46%;
    height: 3vw;
    width: 3vw;
    line-height: 50px;
    font-size: 5vw;
    text-align: center;
    z-index: 999;
    color: white;
    border-radius: 50%;
    -webkit-animation-name: fade;
    -webkit-animation-duration: 2s;
    -webkit-animation-iteration-count: infinite ;
}

@-webkit-keyframes fade {
    100% {opacity: 1;}
    75% {opacity: 0.7;}
    50% {opacity: 0.4;}
    25% {opacity: 0.1;}
    0% {opacity: 0.4;}
}


/* ==========================================================================
   Recent Page 
   ========================================================================== */

.recentTitle h1 {
    position: absolute;
    font-size: 2.3vw;
    left: 6%;
    top: 24%;
    border-bottom: 1px solid white;
    color: white;
}

.recentText {
    position: absolute;
    top: 39%;
    left: 6.5%;
    width: 27%;
    font-size: 0.85vw;
    line-height: 1.7vw;
    text-shadow: 2px 2px 2px #000000;
}

.recentVideo video {
    position: absolute;
    top: 26%;
    left: 45%;
    width: 40%;
    height: auto;
    border: 1.5px solid black;
    border-radius: 3px;
}


/* ==========================================================================
   Video Page 
   ========================================================================== */

.vidGrid {
    position: absolute;
    top: 13%;
}
ul.vidGrid {
    list-style: none;
    font-size: 0px;
    margin: 0;
    padding: 0;
}

ul.vidGrid li {
    display: inline-block;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    width : 33.3%;
    max-width: 33.3%;
}

ul.vidGrid img {
    width: 100%;
    height: auto;
}

.overlay {
    position: absolute;
    overflow: hidden;
    width: 100%;
    height: 100%;
    opacity: 0;
}

.overlay p {
    color: white;
    font-family: 'Arvo';
    text-align: center;
    margin: 0.5vw;
    padding: 0.5vw;
    font-size: 0.8vw;
    line-height: 1.2vw;
}


/* ==========================================================================
   About Page
   ========================================================================== */

.aboutText {
    position: absolute;
    top: 14%;
    left: 3%;
    width: 27%;
    font-size: 0.85vw;
    line-height: 1.7vw;
}

ul.aboutBox {
    position: absolute;
    text-align: center;
    vertical-align: middle;
    position: absolute;
    top: 12%;
    left: 73%;
    list-style: none;
}

.contactButton {margin: 0 0 0.9vw 0;}

.contactButton:nth-child(1) img {width: 34%;}

.contactButton:nth-child(2) img {width: 26%;}

.contactButton:nth-child(3) img {width: 40%;}

.contactButton:nth-child(4) img {width: 30%;}

/* ==========================================================================
   Page Control 
   ========================================================================== */

html, main, body{
    background-color: #000000;
    font-family: 'Arvo', 'Open Sans', sans-serif;
    font-size: 1vw;
}

main {overflow-x: hidden;}

.backFill {
	background-position: center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
	background-size: cover;
    width: 100%;
    height: 100%;
}

.scrollContainer {
    width: 100%;
    height: 100%;
    overflow: hidden;
    position: relative;
}

p {color: white;}

img {vertical-align: middle;}

/* ==========================================================================
   Background Images
   ========================================================================== */

#p2 .backFill {background-image: url('../img/van.jpg');}
#p3 .backFill {background-color: #000000;}
#p4 .backFill {background-image: url('../img/contactme.jpg');}

/* ==========================================================================
   Font 
   ========================================================================== */

@font-face{
    font-family: "PoolParty";
    src: url('../fonts/PoolParty.ttf'),
    url('Thonburi-Bold.eot'); /* IE */
}

@font-face{
    font-family: "BebasNeue";
    src: url('../fonts/BebasNeue.otf'),
    url('Thonburi-Bold.eot'); /* IE */
}
