
/******************************************
 * in the absence of clarity there is...
 * space! let's go to space!
 * -> also, this sheet is for ample space.
 * --> see response for responsive!
 *          .sarkio
*******************************************/


/* ==========================================================================
   Menu
   ========================================================================== */

#menu {
    position: fixed !important;
    right: 5%;
    line-height: 1.5em;
    top: 35%;
    font-size: 2.6em;
    z-index: 100;
    clear: both;
}

ul#menuOptions {
    list-style: none;
}

li.menuButton a {
    text-decoration: none;
    font-family: BebasNeue;
    color: #FF0033;
}

li.menuButton a:hover {
    color: #BA2929;
}

#menu2 {
    position: fixed !important;
    left: 0%;
    width: 100%;
    height: 10%;
    line-height: 1em;
    top: -1%;
    font-size: 2em;
    z-index: 100;
    background-color: #000000;
    margin: 0%;
    text-align: center;
    word-spacing: 2em;
    display: inline-block;
    clear: both;
}

ul#menuOptions2 li {
    display: inline-block;
}

#menuOptions2 > li.menuButton:nth-child(1) a {
    color: white;
    font-family: PoolParty;
}

li.menuButton a {
    text-decoration: none;
    font-family: BebasNeue;
    color: #FF0033;
}

li.menuButton a:hover {
    color: #BA2929;
}

/* ==========================================================================
   Splash
   ========================================================================== */

.splashContent h2 {
    position: absolute;
    top: 40%;
    left: 8%;
    color: white;
    font-family: PoolParty;
    font-size: 4.4em;
    letter-spacing: 0.07em;
    text-shadow: 10px 10px 8px #000000;
}

/* ==========================================================================
   Recent Section
   ========================================================================== */

#recentContent {
    position: relative;
    top: 0%;
    left: 0%;
    width: 100%;
    height: 100%;
}

h1.recentHead {
    position: absolute;
    top: 4%;
    left: 4%;
    color: #CC0066;
    font-size: 5em;
    font-family: BebasNeue;
    letter-spacing: 0.05em;
    text-decoration: underline;
    -moz-text-decoration-color: white;
    clear: both;
}

h2.recentHead {
    position: absolute;
    top: 18%;
    left: 11%;
    color: #CC6666;
    font-size: 2em;
    font-family: BebasNeue;
    letter-spacing: 0.04em;
    clear: both;
}


#descBox {
    position: absolute;
    left: 3%;
    top: 36%;
    height: 34%;
    width: 28%;
    font-size: 1.2em;
    color: white;
    line-height: 1.3em;
    padding-top: 1.2em;
    padding-left: 1.2em;
    padding-right: 1.2em;
    border-left: 0.2em solid white;
}

#recentVid img {
    position: absolute;
    top : 20%;
    left: 37%;
    width: 60%;
    height: 60%;
}

/* ==========================================================================
   Video Reel Section
   ========================================================================== */

#videoContent {
    position: absolute;
    top: 15%;
    -moz-column-count: 3;
    -moz-column-gap: 0.2em;
    -webkit-column-count: 3;
    -webkit-column-gap: 0.2em;
    -moz-column-count: 3;
    -moz-column-gap: 0.2em;
    -webkit-column-count: 3;
    -webkit-column-gap: 0.2em;
    column-count: 3;
    column-gap: 0.2em;
    overflow: hidden;
}

#videoContent img {
    position: relative;
    max-width: 100%;
    height: 100%;
    width: 100%;
    overflow:hidden;
}

#videoContent .overlay {
    position: absolute;
}

p.overlay {
    color: white;
    max-width: 50%;
    text-align: center;
    vertical-align: middle;
    font-size: 0.8em;
    padding-top: 2%;
    word-wrap: break-word;
    line-height: 1.4em;
}


/* ==========================================================================
   About Me Section
   ========================================================================== */

#aboutContent {
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

h1.aboutHead {
    position: absolute;
    left: 41%;
    top: 4%;
    color: #0099FF;
    font-size: 5em;
    font-family: BebasNeue;
    letter-spacing: 0.05em;
    text-decoration: underline;
    -moz-text-decoration-color: white;
}

h2.aboutHead {
    position: absolute;
    left: 45%;
    top: 18%;
    color: #99CCFF;
    font-size: 2em;
    font-family: BebasNeue;
    letter-spacing: 0.05em;
}


#textBox {
    position: absolute;
    top : 35%;
    left: 6%;
    height: 39%;
    width: 30%;
    font-size: 1.2em;
    line-height: 1.3em;
    color: white;
    padding-left: 1.4em;
    padding-right: 1em;
    padding-bottom: 0.8em;
    border-right: 0.1em solid white;
    border-left: 0.1em solid white;
    text-align: center;
    font-family: "Open Sans";
    clear: both;
}

#picBox img {
    position: absolute;
    top : 30%;
    left: 45%;
    width: 50%;
    height: 50%;
}

ul#contactBox {
    text-align: center;
    position: absolute;
    width: 30%;
    height: 5%;
    top: 75%;
    left: 5%;
    line-height: 1em;
    font-size: 1.9em;
    list-style: none;
    clear: both;
    word-spacing: 0.5em;
}

li.contactButton {
    display: inline;
}

#contactBox a {
    text-decoration: none;
}

li.contactButton:nth-child(1) a {
    color: #CC0066;
}

li.contactButton:nth-child(2) a {
    color: #FF9966;
}

li.contactButton:nth-child(3) a {
    color: #0099FF;
}

li.contactButton:nth-child(4) a {
    color: #9999FF;
}

/* ==========================================================================
   Images
   ========================================================================== */

#d1 .ree {background-color: #000000}

#d2 .ree {background-color: #000000}
#d3 .ree {background-color: #000000}

#d4 .ree {background-color: #000000}



/* ==========================================================================
   Font 
   ========================================================================== */

@font-face{
    font-family: "PoolParty";
    src: url('../fonts/PoolParty.ttf'),
    url('Thonburi-Bold.eot'); /* IE */
}

@font-face{
    font-family: "BebasNeue";
    src: url('../fonts/BebasNeue.otf'),
    url('Thonburi-Bold.eot'); /* IE */
}

/* ==========================================================================
   Smooth
   ========================================================================== */

body, html {
	height: 100%;
	background-color: #000000;
    font-family: arial;
    -webkit-font-smoothing: antialiased;
    -moz-font-smoothing: antialiased;
    text-shadow: 1px 1px 1px rgba(0,0,0,0.004);
}

* {
    -webkit-font-smoothing: antialiased;
    -webkit-font-smoothing: antialiased;
    -moz-font-smoothing: antialiased;
}
    

.no-js {
	padding-top: 106;
}

.loading {
	background: url('../img/ico_loading.gif') no-repeat center center;
}

section {
	min-width: 100%;
	opacity: 0;
}

.loaded section,
.no-js section {
	opacity: 1;
	-webkit-transition: opacity 300ms ease-out;
	-moz-transition: opacity 300ms ease-out;
	transition: opacity 300ms ease-out;
}

main {
	overflow-x: hidden;
}

#preload {
	width: 1px;
	height: 1px;
	overflow: hidden;
	position: absolute;
	top: 0;
	left: 0;
}

.ree {
	background-position: center center;
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-size: cover;
	height: 100%;
	width: 100%;
}

.smoothContainer {
	width: 100%;
	height: 100%;
	overflow: hidden;
	position: relative;
}


