/* ==========================================================================
   Navigation
   ========================================================================== */

#nav {
    position: absolute;
    top: 88%;
    width: 100%;
    left: 19%;
}

#nav ul li {
    font-size: 4vw;
    display: inline;
    list-style: none;
    word-spacing: 7vw;
}

#nav a {
    text-decoration: none;
    color: #E22C3C;
}

/* ==========================================================================
   Video Page 
   ========================================================================== */

#videoContainer {
    display:block;
    font-weight:bold;
    color:#14ADE5;
    text-align:center;
}

#videoContainer h2 {
    font-size: 7vw;
    color: white;
}

#videoContainer p {
    font-weight: normal;
    width: 90%;
    margin: 1px;
    font-size: 3.2vw;
    line-height: 6vw;
    margin-top: 5px;
    margin-left: 18px;
    color: #BEBDBD;
}

#videoContainer img {
    width: 100%;
}

/* ==========================================================================
   About Page
   ========================================================================== */

.aboutText {
    position: absolute;
    text-align: center;
    top: 10%;
    left: 3%;
    width: 90%;
    font-size: 3.3vw;
    line-height: 4.7vw;
    color: white;
}

ul.aboutBox {
    position: absolute;
    text-align: center;
    vertical-align: middle;
    position: absolute;
    left: -5%;
    top: 55%;
    list-style: none;
}

.contactButton {margin: 0 0 0.9vw 0;}

.contactButton:nth-child(1) img {width: 34%;}

.contactButton:nth-child(2) img {width: 26%;}

.contactButton:nth-child(3) img {width: 40%;}

.contactButton:nth-child(4) img {width: 30%;}

/* ==========================================================================
   Swipe 
   ========================================================================== */

.swipe {
  overflow: hidden;
  visibility: hidden;
  position: relative;
}
.swipe-wrap {
  overflow: hidden;
  position: relative;
}
.swipe-wrap > div {
  float:left;
  width:100%;
  position: relative;
}

/* ==========================================================================
   Page Control 
   ========================================================================== */

html, main, body{
    background-color: #121010;
    font-family: 'Arvo', 'Open Sans', sans-serif;
    font-size: 1vw;
}

