/* ==========================================================================
   Navigation
   ========================================================================== */
#nav {
    width: 100%;
    word-spacing: 10vw;
    margin-left: 11%;
}

#nav ul li {
    font-size: 5vw;
    display: inline-block;
    list-style: none;
    font-weight: bold;
}

#nav a {
    text-decoration: none;
    color: #E22C3C;
}

/* ==========================================================================
   Video Page 
   ========================================================================== */

#videoContainer {
    text-align:center;
}


#videoContainer h2 {
    font-size: 5.5vw;
    color: white;
}

#videoContainer img {
    width: 100%;
}

#videoContainer p {
    width: 90%;
    margin: 1px;
    font-size: 3.1vw;
    line-height: 6vw;
    margin-top: 5px;
    margin-left: 18px;
    color: #BEBDBD;
}

.arrowMobile {
    position: absolute;
    top: 100%;
    left: 35%;
    height: 3vw;
    width: 30vw;
    font-size: 5vw;
    line-height: 50px;
    z-index: 999;
    color: #E22C3C;
    -webkit-animation-name: fade;
    -webkit-animation-duration: 2s;
    -webkit-animation-iteration-count: infinite ;
}

@-webkit-keyframes fade {
    100% {opacity: 1;}
    75% {opacity: 0.7;}
    50% {opacity: 0.4;}
    25% {opacity: 0.1;}
    0% {opacity: 0.4;}
}

/* ==========================================================================
   About Page
   ========================================================================== */

.aboutText {
    position: absolute;
    top: 10%;
    left: 3%;
    width: 90%;
    font-size: 3.3vw;
    line-height: 4.7vw;
    text-align: center;
    color: #BEBDBD;
}

ul.aboutBox {
    position: absolute;
    text-align: center;
    vertical-align: middle;
    position: absolute;
    left: -6%;
    top: 55%;
    list-style: none;
}

.contactButton {margin: 0 0 0.9vw 0;}

.contactButton:nth-child(1) img {width: 34%;}

.contactButton:nth-child(2) img {width: 26%;}

.contactButton:nth-child(3) img {width: 40%;}

.contactButton:nth-child(4) img {width: 30%;}

/* ==========================================================================
   Swipe 
   ========================================================================== */

.swipe {
  overflow: hidden;
  visibility: hidden;
  position: relative;
}
.swipe-wrap {
  overflow: hidden;
  position: relative;
}
.swipe-wrap > div {
  float:left;
  width:100%;
  position: relative;
}

/* ==========================================================================
   Page Control 
   ========================================================================== */

html, main, body{
    background-color: #121010;
    font-family: 'Arvo', 'Open Sans', sans-serif;
    font-size: 1vw;
    overflow: hidden;
}

