#videoContainer {
  display:block;
  font-weight:bold;
  color:#14ADE5;
  font-size:20px;
  text-align:center;
  box-shadow: 0 1px #EBEBEB;
  background: #fff;
  background-color: #000000;
}

#videoContainer img {
    width: 100%;
}

.swipe {
  overflow: hidden;
  visibility: hidden;
  position: relative;
}
.swipe-wrap {
  overflow: hidden;
  position: relative;
}
.swipe-wrap > div {
  float:left;
  width:100%;
  position: relative;
}

html, main, body{
    background-color: #000000;
    font-family: 'Arvo', 'Open Sans', sans-serif;
    font-size: 1vw;
}

