@media (max-width: 960px) {
    body,
    main {
    font-size: 10px;
    }

    .mobile {
        display: none;
    }

    .splashContent h2 {
        font-size: 1rem;
        left: 40%;
    }

    #menu2 {
        font-size: 1rem;
        left: 0%;
    }

    .overlay {
        display: none;
    }

    #videoContent {
        display: table-cell;
        -webkit-column-count: 1;
        -moz-column-count: 1;
        column-count: 1;
        display: inline;
        top: 0%;
        vertical-align:center;
        float: left;
        clear: both;
        max-width: 100%;
        width: 100%;
        overflow: scroll;
        height: auto;
    }


    section#d2 {
        height: 0%;
        visibility: hidden;
    }

    #textBox {
        left: 0%;
        top: 0%;
        width: 100%;
        padding: 0;
        border: none;
    }

    #contactBox {
        top: 0%;
        left: 0%;
        position: relative;
        clear: both;
        width: 100%;
}

