/*
 *  Width 1600 
 */

@media (max-width: 1601px) {

    #descBox {
        top: 30%;
        width: 30%;
    }

    #videoContent {
        top: 22%;
    }

    .overlay p {
        font-size: 1rem;
        margin: 0.5rem;
        padding: 0.5rem;
        line-height: 1.1rem;
    }

    #textBox {
        top: 11%;
        width: 30%;
    }
}

/*
 *  Width 1441
 */

@media (max-width: 1441px) {

    #menu {
        font-size: 2.5rem;
    }

    .splashContent h2 {
        font-size: 3rem;
    }

    #descBox {
        top: 37%;
        width: 32%;
        font-size: 0.9rem;
        line-height: 1.5rem;
    }

    #videoContent {
        left: -2.3%;
        top: 16%;
    }

    .overlay p {
        font-size: 0.8rem;
        margin: 0.5rem;
        padding: 0.5rem;
        line-height: 1.1rem;
    }

    #textBox {
        left: 0.3%;
        top: 8%;
        width: 32%;
        height: auto;
        font-size: 0.85rem;
    }

    ul#contactBox {
        top: 13%;
    }
}


/*
 *  Width 1050 
 */

@media (max-width: 1051px) {

    .splashContent h2 {
        top: 40%;
    }

    #splashVid {
        width: 100%;
        height: 100%;
    }

    #menu {
        font-size: 2rem;
    }

    .splashContent h2 {
        font-size: 3rem;
    }

    #descBox {
        top: 30%;
        width: 32%;
        font-size: 0.7rem;
        line-height: 1.5rem;
    }

    #videoContent {
        left: -3.7%;
        top: 22%;
    }

    .overlay p {
        font-size: 0.6rem;
        margin: 0rem;
        padding: 0rem;
        line-height: 0.9rem;
    }

    #textBox {
        font-size: 0.7rem;
        top: 13%;
        left: 0%;
        width: 33%;
        height: auto;
        line-height: 1.6rem;
    }

    ul#contactBox {
        top: 17%;
    }
}

/*
 *  Width 901 
 */

@media (max-width: 901px) {

    .splashContent h2 {
        top: 45%;
        left: 10%;
    }

    #splashVid {
        display: none;
    }

    #menu {
        font-size: 2rem;
        left: 60%;
    }

    .splashContent h2 {
        font-size: 3rem;
    }

    #descBox {
        top: 30%;
        width: 32%;
        font-size: 0.7rem;
        line-height: 1.5rem;
    }

    #videoContent {
        top: 45%;
        left: 30%;
    }

    .overlay p {
        font-size: 0.6rem;
        margin: 0rem;
        padding: 0rem;
        line-height: 0.9rem;
    }

    #textBox {
        font-size: 0.7rem;
        top: 13%;
        left: 0%;
        width: 33%;
        height: auto;
        line-height: 1.6rem;
    }

    ul#contactBox {
        top: 17%;
    }
}


