@media (max-width: 960px) {
    body,
    main {
    font-size: 10px;
    }

    .mobile {
        display: none;
    }

    .overlay {
        display: none;
    }

    .splashContent h2 {
        font-size: 1rem;
        left: 40%;
    }

    #menu {
        font-size: 1rem;
        left: 0%;
    }


    #videoContent {
        -webkit-column-count: 0;
        -moz-column-count: 0;
        column-count: 0;
        width: auto;
        height: 20%;
        overflow-x: scroll;
        overflow-y: hidden;
        -webkit-overflow-scrolling: touch;
        -moz-overflow-scrolling: touch;
        overflow-scrolling: touch;
        white-space: nowrap;
    }

    #videoContent a {
        display: inline-block;
        vertical-align: middle;
    }

    #videoContent img {
        height: 100%;
        border: 0;
    }


    #d2 {
        height: 0%;
        visibility: hidden;
    }

    #textBox {
        left: 0%;
        top: 0%;
        width: 100%;
        padding: 0;
        border: none;
    }

    #contactBox {
        top: 0%;
        left: 0%;
        position: relative;
        clear: both;
        width: 100%;
}

